<!-- <div class="slider">
  <button class="prev">&#10094;</button>
  <button class="next">&#10095;</button>
  <div class="slide-container">
    <img class="slide" src="./images/projects/cinema.png" alt="Image 1"width="450" height="350" >
    <img class="slide" src="./images/projects/czinaaz-search.png" alt="Image 2" width="450" height="350">
    <img class="slide" src="./images/projects/phonebook.png" alt="Image 3" width="450" height="350">
    <img class="slide" src="./images/projects/portfolio-project.png" alt="Image 3" width="450" height="350">
    <img class="slide" src="./images/projects/Project1.png" alt="Image 3" width="450" height="350">
    <img class="slide" src="./images/projects/Project2.png" alt="Image 3" width="450" height="350">
    <img class="slide" src="./images/projects/Project3.png" alt="Image 3" width="450" height="350">
    <img class="slide" src="./images/projects/Project5.png" alt="Image 3" width="450" height="350">

  </div>
</div>

<script type="module" src="js/carousel.js"></script> -->

<div class="slider">
  <div class="message-slider" id="messageSlider">
    <div class="message">Welcome to my portfolio &#x1F44B;</div>
    <div class="message">I am a junior full-stack/frontend developer. I am also interested in game development, games, and web design. I enjoy creating various interesting things and love experimenting with the functionality of websites. I like to explore new things and learn something new to become a better version of myself.</div>
    <!-- <div class="message">To jest trzecia wiadomość. Może być jeszcze dłuższa, aby zobaczyć, jak slider radzi sobie z długimi wiadomościami.</div> -->
  </div>
</div>

<script src="./js/carousel.js"></script>