<footer class="footer" id="contact">
  <div class="footer-content">
    <div class="footer-social-links">
      <ul class="footer-social-links_list">
        <li>
          <a href="https://github.com/Czinaaz" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/czinaaz/" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/vanek.rudenko" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div >
      <ul class="footer-contact">
        <li class="footer-contact_item">
          <a href="mailto:rudenko.ivan81@gmail.com"><svg width="16" height="12"><use href="./images/svg/icons2.svg#icon-envelope"></use></svg>rudenko.ivan81@gmail.com</a> 
        </li>
        <li class="footer-contact_item">  
          <a href="tel:+48721229093"><svg  width="16" height="12"><use href="./images/svg/icons2.svg#icon-smartphone"></use></svg>+48 721 229 093</a>
        </li>
    </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright &copy; 2023</p>
    </div>
  </div>
</footer>
