<footer class="footer" id="contact">
  <div class="footer-content">
    <div class="footer-social-links">
      <ul class="footer-social-links_list">
        <li>
          <a href="https://github.com/Czinaaz" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-github"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/czinaaz/" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-linkedin"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="https://www.facebook.com/vanek.rudenko" target="_blank">
            <svg class="modal-button_svg" width="40" height="40">
              <use href="./images/svg/black-icons.svg#icon-facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
    </div>
    <div class="footer-copyright">
      <p>Copyright &copy; 2023</p>
    </div>
  </div>
</footer>
