<div class="projects" id="projects">
    <ul class="image-list" >
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/goit-markup-hw-08/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/goit-markup-hw-08">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
          <img 
          src="./images/projects/Project1.png"
          alt="Web Studio"
          width="450"
          height="294" >
        </div>
        <div class="image-list_text">
          <h2>Web Studio</h2>
          <p>HTML/CSS</p>
        </div>
      </li>
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/ice-cream-group-project/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/ice-cream-group-project">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>     
          <img 
            src="./images/projects/Project2.png"
            alt="Website Icecream"
            width="450"
            height="350">
        </div>
        <div class="image-list_text">
          <h2>Ice-cream shop</h2>
          <p>HTML/SCSS/JS</p>
        </div>    
      </li> 
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/bookstore/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a  href="https://github.com/Czinaaz/bookstore">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>
        <img src="./images/projects/project3.png"
          alt="Bookstore"
          width="450"
          height="350">
        </div>  
        <div class="image-list_text">
          <h2>Bookstore</h2>
          <p>Javascript/HTML/SCSS</p>
        </div>
      </li>        
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/goit-js-hw-11/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/goit-js-hw-11">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>  
          <img src="./images/projects/czinaaz-search.png"
            alt="ImageSearch JS"
            width="450"
            height="350">
        </div>
            <div class="image-list_text">
              <h2>CzinaazSearch</h2>
              <p>Javascript</p>
            </div>
      </li>
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/goit-react-hw-03-image-finder/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/goit-react-hw-03-image-finder">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>  
          <img src="./images/projects/project5.png"
            alt="Image Search React"
            width="450"
            height="350">
        </div>
            <div class="image-list_text">
              <h2>CzinaazSearch</h2>
              <p>React</p>
            </div>
      </li>         
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/portfolio/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/portfolio">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>  
          <img src="./images/projects/pr-portfolio.png"
            alt="Portfolio"
            width="450"
            height="350">
        </div>
            <div class="image-list_text">
              <h2>Portfolio</h2>
              <p>SCSS/Javascript</p>
            </div>
      </li> 
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/goit-react-hw-05-movies/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/goit-react-hw-05-movies">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>  
          <img src="./images/projects/cinema.png"
            alt="Portfolio"
            width="450"
            height="350">
        </div>
            <div class="image-list_text">
              <h2>Movies Website</h2>
              <p>React</p>
            </div>
      </li>
      <li class="image-list_item">
        <div class="image-list_box">
          <div class="image-list_overroll">
            <ul class="project-list">
              <li class="project-list_item">
                <a href="https://czinaaz.github.io/goit-react-hw-08-phonebook/">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-earth"></use>
                  </svg>
                </a>
              </li>
              <li class="project-list_item">
                <a href="https://github.com/Czinaaz/goit-react-hw-08-phonebook">
                  <svg  width="40" height="40">
                    <use href="./images/svg/black-icons.svg#icon-github"></use>
                  </svg>
                </a>
              </li>
            </ul>
          </div>  
          <img src="./images/projects/phonebook.png"
            alt="Portfolio"
            width="450"
            height="350">
        </div>
            <div class="image-list_text">
              <h2>Phonebook</h2>
              <p>React</p>
            </div>
      </li>                                                        
    </ul>
</div> 
    