// .slider {
//   overflow: hidden;
//   width: 100%;
//   height: 50px; /* Wysokość slidera, możesz dostosować do swoich potrzeb */
//   background-color: #f4f4f4; /* Kolor tła slidera */
//   // margin-bottom: 10px;
// }

// .message-slider {
//   white-space: nowrap;
//   animation: slide 20s linear infinite;
// }

// .message {
//   display: inline-block;
//   padding: 5px;
//   font-size: 26px;
//   font-weight: 500;
//   background-color: #f4f4f4; /* Kolor tła wiadomości */
//   color: rgb(0, 0, 0);
//   // margin: 5px;
// }

// @keyframes slide {
//   0% {
//       transform: translateX(100%);
//   }
//   100% {
//       transform: translateX(-100%);
//   }
// }

.slider {
  overflow: hidden;
  width: 100%;
  height: 50px; /* Wysokość slidera, możesz dostosować do swoich potrzeb */
  background-color: #f4f4f4; /* Kolor tła slidera */
}

.message-slider {
  white-space: nowrap;
  width: 160%;
}

.message {
  display: inline-block;
  padding: 5px;
  font-size: 26px;
  font-weight: 500;
  background-color: #f4f4f4; /* Kolor tła wiadomości */
  color: rgb(0, 0, 0);
}
