.project-head{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    width: auto;
    padding-top: 2%;
    padding-bottom: 2%;
    background: linear-gradient(rgba(150, 150, 150, 0.5), rgba(255, 255, 255, 0.5));
}

.project-head h2 { 
    font-size: 44px;
    font-weight: 800;
    font-family: 'Black Ops One', system-ui;
}

.projects {
    gap: 30px;
    background-image: linear-gradient(
        to bottom,
        rgba(104, 104, 104, 0.5),
        rgba(204, 204, 204, 0.5)
    ), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    // padding: unset;
    padding-top: 40px;
    padding-bottom: 15%;
   
    @include tablet {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    @include desktop {
        padding-top: 50px;
        padding-bottom: 50px;
        background-image: linear-gradient(
            to bottom,
            rgba(104, 104, 104, 0.5),
            rgba(204, 204, 204, 0.5)
        ), url("https://images.unsplash.com/photo-1498050108023-c5249f4df085?q=80&w=2072&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
        background-size: auto;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        

    }
    
}

.image-list {
    display: flex;
    flex-wrap: wrap;
    list-style: inside;
    gap: 50px;
    margin: unset;
    @include tablet {
        width: 90%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        justify-content: center; 
        align-items: center;
        margin-left: auto;
        margin-right: auto;
    }
    @include desktop {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row; 
        width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }
    
    &_text {
        padding-top: 20px;
        @include tablet {
            width: 100%;
        }
        @include desktop {
            width: 100%;
        }

        & h2 {
            font-weight: 700;
            font-size: 18px;
            line-height: 36px;
            color: #212121;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: auto;
        }
        & p {
            font-weight: 400;
            font-size: 16px;
            line-height: 30px;
            color: #393939;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-bottom: 20px;
            margin: auto;
        }
    }
    
    &_item {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 90%;
        margin-left: auto;
        margin-right: auto;
        background-color: rgba(235, 235, 235, 0.758);
        // border-bottom: 2px solid #EEEEEE;
        // border-left: 2px solid #EEEEEE;
        // border-right: 2px solid #EEEEEE;
        @include tablet {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            max-width: 450px;
            flex-basis: calc((100% - 60px) / 2);
        }
        @include desktop {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            flex-basis: calc((100% - 20%) / 2);
            max-width: 450px;
           
        }
    }
    &_item:hover {
        background-color: rgba(235, 235, 235, 0.945);
        cursor: pointer;
        box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
        @include desktop {
            transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);  
        }
    
    }
    &_item:hover &_overroll {
        transform: translateY(0);
        @include desktop {
            transition: 300ms cubic-bezier(0.4, 0, 0.2, 1);  
            transform: translateY(0);
        }
        
    }
   
    &_box {
        position: relative;
        overflow: hidden;
    }
      
    &_overroll {
        position: absolute;
        background: rgba(42, 42, 43, 0.9);
        width: 100%;
        height: 100%;
        transform: translateY(+294px);
        @include desktop {
            transform: translateY(+294px);
        }   
    }
  
}

.project-list {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 20%;
    margin-top: 25%;
    fill: white;
    &_item a {
        fill: #EEEEEE;
        @include desktop {
            & :hover,
            & :focus {
            fill: $themeColor;
            }
        }
       
    }
    
}





// .slider {
//     position: relative;
//     width: 100%;
//     overflow: hidden;
//   }
  
//   .slide-container {
//     display: flex;
//     transition: transform 0.5s ease-in-out;
//   }
  
//   .slide {
//     min-width: 20%;
//     flex: 0 0 auto;
//     display: none;
//   }
  
//   .slide.active {
//     display: block;
//   }
  
//   .prev, .next {
//     position: absolute;
//     top: 50%;
//     transform: translateY(-50%);
//     background: rgba(0, 0, 0, 0.5);
//     color: white;
//     padding: 10px;
//     cursor: pointer;
//   }
  
//   .prev {
//     left: 0;
//   }
  
//   .next {
//     right: 0;
//   }